$colorPrimario : white;
$colorSecundario: grey;
$colorHover : rgb(0, 0, 0);
$colorLetra: grey;
$colorBotones: white (187, 123, 123);
$boton:(
     borde: 0px,
     padding: 10px 20px,
     radio: 5px,
)